body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.head{
    background-color:burlywood;
    display: flex;
    border:solid 2px black;
    height: 5rem;
    justify-content: space-around;
    align-items:center;
}

.main{
    height: calc(100vh - 5rem - 1rem - 2rem);
    border: solid 1px black;
    background-color: antiquewhite;
    display: flex;
    flex-direction:row;
    
    
      
}

.aside{
    
    border: solid 1px black;
    display: flex;
    align-items: center;
    background-color: lightblue;
    width: 4rem;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 5rem - 1rem - 2rem);

}
ul,li{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5px;  
}
a{
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid black;

}
.section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 4rem;
    
    /* height: 52rem; */
}
nav{
    display: flex;
    background-color: lavender;
    height: 4rem;
}
#search{
    flex-grow: 1;
}
#search-button{
    width: 3rem;
    display: flex;
    justify-content: center;
}
#product-container{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.article{
    width: 200px;
    height: 300px;
    border: 1px solid black;
     margin: 20px;
}
.image{
   
    width: 200px;
    height: 300px;
}


.aside2{
    border: solid 1px black;
    display: flex;
    width: 25rem;
}


.footer{
    border: solid 1px black;
    background-color: lavender;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}